@import "tailwindcss";

@theme {
  --color-black: #282b30;
  --color-black-bg: #1b1d1f;
  --color-light-blue: #4e80ee;
  --color-gray: #6c727f;
  --color-light-gray: #d2d5da;
}

#search::before {
  content: url("/Search.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 8px;
  margin-top: 2px;
}

.region label.active {
  background-color: #282b30;
}

input:checked ~ span {
  background: #4e80ee;
}

input:checked ~ span img {
  display: block;
}
@media (max-width: 991px) {
  .hide-region {
    display: none;
  }
}

@media (max-width: 500px) {
  .info {
    flex-direction: column;
  }
}
